name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    
    - name: Build with Maven
      run: mvn clean package -DskipTests
    
    - name: Build Docker Image
      run: docker build -t employee-app .
    
    - name: Login to DockerHub
      if: github.ref == 'refs/heads/main'
      uses: docker/login-action@v2
      with:
        username: karthi247
        password: Goddy@2470
    
    - name: Push Docker Image
      if: github.ref == 'refs/heads/main'
      run: |
        docker tag employee-app karthi247/employee-app:latest
        docker push Goddy@2470/employee-app:latest
